@font-face {
    font-family: "Exo2-Medium";
    src: url(../fonts/exo-2-v21-cyrillic_latin-500.woff2    );
    font-weight: 500;
}
@font-face {
    font-family: "Exo2-SemiBold";
    src: url(../fonts/exo-2-v21-cyrillic_latin-600.woff2);
    font-weight: 700;
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/open-sans-v40-latin-600.woff2);
    font-weight: 500;
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}
