$gray: #6B6B6C;
$pale_black: #363738;
$dark_green: #0B7572;
$carrot_color: #FF9619;

.hero {
    .hero_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 80px;
        padding: 109px 67px;

        .div1 {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .vostoka_title {
                font-family: "Exo2-SemiBold";
                font-size: 52px;
                font-weight: 600;
                line-height: 65px;
            }

            .text_hero {
                font-family: "PTSans-Regular";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: $gray;
            }

            .katta_text {
                font-family: "PTSans-Bold";
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }
        }

        .div2 {
            width: 635px;
            height: 505px;
        }
    }
    

    .hero_box2 {
        margin-top: 60px;
        width: 1240px;
        height: 341px;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px #00000026;
        display: flex;
        justify-content: space-around;
        gap: 60px;
        padding: 40px 80px;

        .div1 {
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-right: 1px solid #D7D7DD;
            padding-right: 100px;

            img {
                width: 92px;
                height: 92px;
            }

            .tovaru_title {
                font-family: "Exo2-SemiBold";
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: $pale_black;
            }

            .lorem_text {
                font-family: "PTSans-Regular";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: $gray;
            }

        }

        .div2 {
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-right: 1px solid #D7D7DD;
            padding-right: 100px;

            img {
                width: 92px;
                height: 92px;
            }

            .tovaru_title {
                font-family: "Exo2-SemiBold";
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: $pale_black;
            }

            .lorem_text {
                font-family: "PTSans-Regular";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: $gray;
            }

        }

        .div3 {
            display: flex;
            flex-direction: column;
            gap: 16px;

            img {
                width: 92px;
                height: 92px;
            }

            .tovaru_title {
                font-family: "Exo2-SemiBold";
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: $pale_black;
            }

            .lorem_text {
                font-family: "PTSans-Regular";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: $gray;
            }

        }
    }
}

@media (max-width: 768px) {
    .hero {
        margin-bottom: 250px;
        .hero_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 80px;
            padding: 109px 67px;

            .div1 {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .vostoka_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 44px;
                    font-weight: 600;
                    line-height: 55px;
                }

                .text_hero {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                    text-align: center;
                }

                .katta_text {
                    font-family: "PTSans-Bold";
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: center;
                }
            }

            .div2 {
                width: 690px;
                height: 314px;
            }
        }

        .hero_box2 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .div1 {
                width: 580px;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px #0000001F;
                display: flex;
                flex-direction: row;
                gap: 32px;
                padding: 32px;

                img {
                    width: 92px;
                    height: 92px;
                }

                .tovaru_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: $pale_black;
                }

                .lorem_text {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

            }

            .div2 {
                width: 580px;
                display: flex;
                flex-direction: row;
                gap: 32px;
                border-radius: 20px;
                padding: 32px;
                box-shadow: 0px 4px 15px 0px #0000001F;

                img {
                    width: 92px;
                    height: 92px;
                }

                .tovaru_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: $pale_black;
                }

                .lorem_text {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

            }

            .div3 {
                width: 580px;
                display: flex;
                flex-direction: row;
                gap: 32px;
                border-radius: 20px;
                padding: 32px;
                box-shadow: 0px 4px 15px 0px #0000001F;

                img {
                    width: 92px;
                    height: 92px;
                }

                .tovaru_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: $pale_black;
                }

                .lorem_text {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

            }
        }
    }
}

@media (max-width: 375px) {
    .hero {
        .hero_box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 80px;
            padding: 109px 67px;

            .div1 {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .vostoka_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 65px;
                }

                .text_hero {
                    font-family: "PTSans-Regular";
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

                .katta_text {
                    font-family: "PTSans-Bold";
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                }
            }

            img {
                width: 345px;
                height: 253px;
            }
        }

        .hero_box2 {
            margin-top: 60px;
            width: 1240px;
            height: 341px;
            border-radius: 20px;
            box-shadow: 0px 4px 20px 0px #00000026;
            display: flex;
            justify-content: space-around;
            gap: 60px;
            padding: 0x;    

            .div1 {
                display: flex;
                flex-direction: column;
                gap: 16px;
                border-right: 1px solid #D7D7DD;
                padding-right: 100px;

                img {
                    width: 92px;
                    height: 92px;
                }

                .tovaru_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: $pale_black;
                }

                .lorem_text {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

            }

            .div2 {
                display: flex;
                flex-direction: column;
                gap: 16px;
                border-right: 1px solid #D7D7DD;
                padding-right: 100px;

                img {
                    width: 92px;
                    height: 92px;
                }

                .tovaru_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: $pale_black;
                }

                .lorem_text {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

            }

            .div3 {
                display: flex;
                flex-direction: column;
                gap: 16px;

                img {
                    width: 92px;
                    height: 92px;
                }

                .tovaru_title {
                    font-family: "Exo2-SemiBold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: $pale_black;
                }

                .lorem_text {
                    font-family: "PTSans-Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray;
                }

            }
        }
    }
}